@charset "UTF-8";

.clock {
    position: bottom;
    top: 25%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}