<div class="card" style="width: 18rem;">
        <img class="card-img" [src]="recipe.picture">
        <div class="card-body">
            <h5>{{recipe.name}}</h5>
            <h6>{{recipe.category}}</h6>
            <p>{{recipe.ingredients}}</p>
            <p>{{recipe.directions}}</p>
        </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Recipe</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">  <img class="card-img" [src]="recipe.picture">
                <div class="card-body">
                    <h5>{{recipe.name}}</h5>
                    <h6>{{recipe.category}}</h6>
                    <p>{{recipe.ingredients}}</p>
                    <p>{{recipe.directions}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>