<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloSpringMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- The ApplicationContext is where your Spring beans live.
  The purpose of the ContextLoaderListener is two things:
  1)It ties the lifecycle of the ApplicationContext to the lifecycle
  of the ServletContext
  2)It automates the creation of ApplicationContext, so you don't have to
  write explicit code to create it.
  
  ServletContext is an interface which helps communicate with other 
  servlets. It contains information about the web application and the 
  container. It is kind of application environment.
  Using the context, the servlet can obtain URL references to resources,
  and store attributes that other servlets in the context can use.
   -->
  
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.app</url-pattern>
  </servlet-mapping>
  
  
</web-app>