<div class="row mt-4">
        <div class="col-10 offset-1">
            <div class="row p-4">
                <input type="text" class='col-6 offset-1' [(ngModel)]='searchTerm'/>
                <div class="btn btn-primary col-2" (click)='onSearch()'>Search</div>
            </div>
    
            <div class="row" *ngFor='let temp of data'>
                <div class="col-12">
                    <div class="row border border-primary">
                        <div class="col-12">Ability Name: {{temp.ability.name}}</div>
                        <div class="col-12">Hidden Ability: {{temp.is_hidden}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
