<div class="row mt-4">
    <div class="col-10 offset-1">
        <div class="row p-4">
            <input type="text" class='col-6 offset-1' [(ngModel)]='searchTerm'/>
            <div class="btn btn-danger col-2" (click)='clickSearch()'>Search</div>
        </div>

        <div class="row" *ngFor='let temp of data'>
            <div class="col-12">
                <div class="row border border-danger">
                    <div class="col-12">{{temp.joke}}</div>
                </div>
            </div>
        </div>
    </div>
</div>